<form novalidate [formGroup]="listingFilterForm">
    <div class="location_filters row">
        <div class="col-xs-6 col-sm-3">
            <select formControlName="city" (ngChange)="onSubmit(listingFilterForm.value)" class="form-control select">
                <option value=null disabled selected hidden>--Select--</option>
                <option *ngFor="let cityVal of cityOptions" [value]="cityVal">{{cityVal}}</option>
            </select>
        </div>
        <div class="col-xs-6 col-sm-3">
            <select formControlName="state" (ngChange)="onSubmit(listingFilterForm.value)" class="form-control select">
                <option value=null disabled selected hidden>--Select--</option>
                <option *ngFor="let stateVal of stateOptions" [value]="stateVal">{{stateVal}}</option>
            </select>
        </div>
        <div class="col-xs-6 col-sm-3">
            <select formControlName="county" (ngChange)="onSubmit(listingFilterForm.value)" class="form-control select">
                <option value=null disabled selected hidden>--Select--</option>
                <option *ngFor="let countyVal of countyOptions" [value]="countyVal">{{countyVal}}</option>
            </select>
        </div>
        <div class="col-xs-6 col-sm-3">
            <select formControlName="highway" (ngChange)="onSubmit(listingFilterForm.value)" class="form-control select">
                <option value=null disabled selected hidden>--Select--</option>
                <option *ngFor="let highwayVal of highwayOptions" [value]="highwayVal">{{highwayVal}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-2 text-center">
            <button id="reset" name="reset" class="form-control btn-custom" (click)="reset()">Reset Filters</button>
        </div>
    </div>
</form>
<div class="location_listing list-group row">
    <div class="col-xs-12">
    <div class="row listing-fields">
        <div class="col-xs-2 heading">ID</div>
        <div class="col-xs-3 heading">City, State, County</div>
        <div class="col-xs-3 heading">Highway</div>
        <div class="col-xs-4 heading">Location</div>
    </div>
    <location-simple *ngFor="let location of filteredLocations" (onChange)="setPage(1)" [location]="location" (click)="loadInfoPanel(location)" class="row list-group-item"></location-simple>
    </div>
</div>
<div class="sidebar" [@slideInOut]="sliderState">
    <div class="row">
        <div class="col-xs-12" (click)="toggleMenu()">
            <i class="fas fa-times-circle" style="color:#fff; font-size:2em;"></i>
        </div>
    </div>
    <div class="row">
        <location-detail [location]="selectedlocation" [mapwidth]="480" [mapheight]="300"></location-detail>
    </div>
</div>